In [1]:
import pandas as pd
import numpy as np

In [2]:
country_codes = pd.read_json("data/country_codes.json")
new= {"Code":"XK", "Name":"Kosovo"}
country_codes = country_codes.append(new,ignore_index=True)
country_codes

/var/folders/f4/d26fc2lx7y5d0rs_6sbh_b2h0000gn/T/ipykernel_68837/487784554.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_codes = country_codes.append(new,ignore_index=True)

    Code            Name
0     AF     Afghanistan
1     AX   Åland Islands
2     AL         Albania
3     DZ         Algeria
4     AS  American Samoa
..   ...             ...
245   EH  Western Sahara
246   YE           Yemen
247   ZM          Zambia
248   ZW        Zimbabwe
249   XK          Kosovo

[250 rows x 2 columns]

In [3]:
revenue = pd.read_csv("data/all_revenue.csv")
revenue = revenue[revenue["Country"].notnull()]
revenue = revenue.sort_index()
revenue = revenue.merge(country_codes, how = "left", left_on="Country", right_on="Code")
revenue = revenue.set_index(["Name", "categories"])
revenue = revenue.drop("Code", axis=1)
revenue

                                                      Country     2016  \
Name        categories
Afghanistan Revenue                                        AF  48.4420
            Tax revenue                                    AF   8.8465
            Taxes on income, profits, & capital gains      AF   1.9144
            Customs & other import duties                  AF   2.3244
            Taxes on payroll & workforce                   AF   0.0000
...                                                       ...      ...
Uzbekistan  Grants revenue                                 UZ   0.0000
            Grants revenue from foreign govts              UZ   0.0000
            Grants revenue from int orgs                   UZ   0.0000
            Grants revenue from other gen govt             UZ   0.0000
            Other revenue                                  UZ   2.3297

                                                          2017    2018  \
Name        categories
Afghanistan Revenue                                    45.2478     NaN
            Tax revenue                                 9.2477     NaN
            Taxes on income, profits, & capital gains   2.0393     NaN
            Customs & other import duties               3.2517     NaN
            Taxes on payroll & workforce                0.0000     NaN
...                                                        ...     ...
Uzbekistan  Grants revenue                              0.0000  0.0000
            Grants revenue from foreign govts           0.0000  0.0000
            Grants revenue from int orgs                0.0000  0.0000
            Grants revenue from other gen govt          0.0000  0.0000
            Other revenue                               2.2041  3.3333

                                                         2019   2020
Name        categories
Afghanistan Revenue                                       NaN    NaN
            Tax revenue                                   NaN    NaN
            Taxes on income, profits, & capital gains     NaN    NaN
            Customs & other import duties                 NaN    NaN
            Taxes on payroll & workforce                  NaN    NaN
...                                                       ...    ...
Uzbekistan  Grants revenue                             0.0000  0.000
            Grants revenue from foreign govts          0.0000  0.000
            Grants revenue from int orgs               0.0000  0.000
            Grants revenue from other gen govt         0.0000  0.000
            Other revenue                              3.7511  3.831

[1288 rows x 6 columns]

In [4]:
np.unique(np.array([i for i,_ in revenue.index]))

array(['Afghanistan', 'Albania', 'Armenia', 'Australia', 'Austria',
       'Azerbaijan', 'Belarus', 'Belgium', 'Bosnia and Herzegovina',
       'Brazil', 'Bulgaria', 'Cambodia', 'Canada', 'Cape Verde', 'Chile',
       'China', 'Colombia', 'Costa Rica', 'Croatia', 'Cyprus',
       'Czech Republic', "Côte d'Ivoire", 'Denmark', 'El Salvador',
       'Estonia', 'Finland', 'France', 'Georgia', 'Germany', 'Greece',
       'Guatemala', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland',
       'Indonesia', 'Ireland', 'Israel', 'Italy', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, Republic of', 'Kosovo',
       'Kyrgyzstan', 'Latvia', 'Lithuania', 'Luxembourg', 'Macao',
       'Macedonia, the Former Yugoslav Republic of', 'Malta',
       'Marshall Islands', 'Mauritius', 'Mexico', 'Moldova, Republic of',
       'Mongolia', 'Myanmar', 'Nauru', 'Nepal', 'Netherlands',
       'New Zealand', 'Norway', 'Palau', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Romania',
       'Russian Federation', 'Rwanda', 'Samoa', 'San Marino',
       'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Singapore',
       'Slovakia', 'Slovenia', 'Somalia', 'South Africa', 'Spain',
       'Sweden', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'United States', 'Uzbekistan'], dtype='<U42')

In [5]:
expense = pd.read_csv("data/all_expense.csv")
expense = expense.sort_index()
expense = expense.merge(country_codes, how = "left", left_on="Country", right_on="Code")
expense = expense.set_index(["Name", "categories"])
expense = expense.drop("Code", axis=1)
expense

                                                                        Country  \
Name                 categories
United Arab Emirates Expenditure                                             AE
                     Expenditure on agriculture, fishing, forestry, ...      AE
                     Expenditure on biodiversity & landscape protection      AE
                     Expenditure on broadcasting & publishing                AE
                     Expenditure on civil defense                            AE
...                                                                         ...
South Africa         Expenditure on transport                                ZA
                     Expenditure on unemployment                             ZA
                     Expenditure on waste management                         ZA
                     Expenditure on waste water management                   ZA
                     Expenditure on water supply                             ZA

                                                                            2016  \
Name                 categories
United Arab Emirates Expenditure                                         33.6958
                     Expenditure on agriculture, fishing, forestry, ...      NaN
                     Expenditure on biodiversity & landscape protection      NaN
                     Expenditure on broadcasting & publishing                NaN
                     Expenditure on civil defense                            NaN
...                                                                          ...
South Africa         Expenditure on transport                             1.5832
                     Expenditure on unemployment                          0.1745
                     Expenditure on waste management                      0.0153
                     Expenditure on waste water management                0.0080
                     Expenditure on water supply                          1.3562

                                                                            2017  \
Name                 categories
United Arab Emirates Expenditure                                         29.7682
                     Expenditure on agriculture, fishing, forestry, ...   0.0000
                     Expenditure on biodiversity & landscape protection      NaN
                     Expenditure on broadcasting & publishing             0.0186
                     Expenditure on civil defense                            NaN
...                                                                          ...
South Africa         Expenditure on transport                             2.4458
                     Expenditure on unemployment                          0.3476
                     Expenditure on waste management                      0.0237
                     Expenditure on waste water management                0.0086
                     Expenditure on water supply                          0.3687

                                                                            2018  \
Name                 categories
United Arab Emirates Expenditure                                         28.1606
                     Expenditure on agriculture, fishing, forestry, ...      NaN
                     Expenditure on biodiversity & landscape protection      NaN
                     Expenditure on broadcasting & publishing                NaN
                     Expenditure on civil defense                            NaN
...                                                                          ...
South Africa         Expenditure on transport                             2.2161
                     Expenditure on unemployment                          0.3770
                     Expenditure on waste management                      0.0257
                     Expenditure on waste water management                0.0067
                     Expenditure on water supply                          0.3680

                                                                            2019  \
Name                 categories
United Arab Emirates Expenditure                                         28.5017
                     Expenditure on agriculture, fishing, forestry, ...      NaN
                     Expenditure on biodiversity & landscape protection      NaN
                     Expenditure on broadcasting & publishing                NaN
                     Expenditure on civil defense                            NaN
...                                                                          ...
South Africa         Expenditure on transport                             2.1434
                     Expenditure on unemployment                          0.3168
                     Expenditure on waste management                      0.0271
                     Expenditure on waste water management                0.0067
                     Expenditure on water supply                          0.3445

                                                                            2020
Name                 categories
United Arab Emirates Expenditure                                         30.3157
                     Expenditure on agriculture, fishing, forestry, ...   0.0000
                     Expenditure on biodiversity & landscape protection   0.0148
                     Expenditure on broadcasting & publishing             0.0601
                     Expenditure on civil defense                         0.0000
...                                                                          ...
South Africa         Expenditure on transport                             2.3019
                     Expenditure on unemployment                          0.3103
                     Expenditure on waste management                      0.0273
                     Expenditure on waste water management                0.0071
                     Expenditure on water supply                          0.3694

[4784 rows x 6 columns]

In [6]:
np.unique(np.array([i for i,_ in expense.index]))

array(['Afghanistan', 'Albania', 'Armenia', 'Australia', 'Austria',
       'Azerbaijan', 'Belarus', 'Belgium', 'Bosnia and Herzegovina',
       'Brazil', 'Bulgaria', 'Cambodia', 'Canada', 'Cape Verde', 'Chile',
       'China', 'Colombia', 'Costa Rica', 'Croatia', 'Cyprus',
       'Czech Republic', "Côte d'Ivoire", 'Denmark', 'El Salvador',
       'Estonia', 'Finland', 'France', 'Georgia', 'Germany', 'Greece',
       'Guatemala', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland',
       'Indonesia', 'Ireland', 'Israel', 'Italy', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, Republic of', 'Kosovo',
       'Kyrgyzstan', 'Latvia', 'Lithuania', 'Luxembourg', 'Macao',
       'Macedonia, the Former Yugoslav Republic of', 'Malta',
       'Marshall Islands', 'Mauritius', 'Mexico', 'Moldova, Republic of',
       'Mongolia', 'Myanmar', 'Nauru', 'Nepal', 'Netherlands',
       'New Zealand', 'Norway', 'Palau', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Romania',
       'Russian Federation', 'Rwanda', 'Samoa', 'San Marino',
       'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Singapore',
       'Slovakia', 'Slovenia', 'Somalia', 'South Africa', 'Spain',
       'Sweden', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'United States', 'Uzbekistan'], dtype='<U42')

In [7]:
revenue_countries = set(np.unique(np.array([i for i,_ in expense.index])))
expense_countries = set(np.unique(np.array([i for i,_ in expense.index])))

In [8]:
for country in expense_countries:
    if expense.loc[country].iloc[1:, 1:].isnull().values.all():
        expense = expense.drop(index=country)

/var/folders/f4/d26fc2lx7y5d0rs_6sbh_b2h0000gn/T/ipykernel_68837/1915302040.py:3: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  expense = expense.drop(index=country)

In [9]:
expense_countries = set(np.unique(np.array([i for i,_ in expense.index])))
dropping = revenue_countries - expense_countries

In [10]:
len(expense_countries)

69

In [11]:
for country in revenue_countries:
    if country in dropping:
        revenue = revenue.drop(index = country)

/var/folders/f4/d26fc2lx7y5d0rs_6sbh_b2h0000gn/T/ipykernel_68837/599614803.py:3: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  revenue = revenue.drop(index = country)

In [12]:
revenue = revenue.sort_index()
expense = expense.sort_index()

In [15]:
expense_countries

{'Afghanistan',
 'Albania',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Belarus',
 'Belgium',
 'Bulgaria',
 'Canada',
 'China',
 'Croatia',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'El Salvador',
 'Estonia',
 'Finland',
 'France',
 'Georgia',
 'Germany',
 'Greece',
 'Guatemala',
 'Hong Kong',
 'Hungary',
 'Iceland',
 'Indonesia',
 'Ireland',
 'Israel',
 'Italy',
 'Japan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kosovo',
 'Kyrgyzstan',
 'Latvia',
 'Lithuania',
 'Luxembourg',
 'Macao',
 'Malta',
 'Mauritius',
 'Moldova, Republic of',
 'Mongolia',
 'Myanmar',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Norway',
 'Poland',
 'Portugal',
 'Romania',
 'Russian Federation',
 'Samoa',
 'San Marino',
 'Seychelles',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Somalia',
 'South Africa',
 'Spain',
 'Sweden',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uzbekistan'}

In [14]:
revenue.to_csv("data/cleaned_revenue.csv")
expense.to_csv("data/cleaned_expense.csv")